<!--
  Generated template for the ConfigurationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list radio-group>
    <ion-list-header>
      Language
    </ion-list-header>

    <ion-item>
      <ion-label>Go</ion-label>
      <ion-radio checked="true" value="go"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Rust</ion-label>
      <ion-radio value="rust"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Python</ion-label>
      <ion-radio value="python"></ion-radio>
    </ion-item>
  </ion-list>

  <button ion-button full (click)="close()">Close</button>

</ion-content>
